/* user-details.component.scss */

/* Styling for the entire table */
.mat-elevation-z8 {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Styling for table header */
.mat-header-row {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Styling for table rows */
.mat-row {
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

/* Styling for table cells */
.mat-cell {
  padding: 10px;
  text-align: left;
  border-right: 1px solid #ccc;
}

/* Styling for specific columns */
.mat-column-name,
.mat-column-email,
.mat-column-phone,
.mat-column-gender,
.mat-column-country {
  width: 20%;
}

.mat-column-enquiredAt {
  width: 15%;
}

/* Styling for enquiredAt column header */
.enquired-header {
  font-size: 18px;
  border-bottom: none;
}

/* Adjust these widths and colors based on your design preferences */
.mat-select {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .table-container{
    width: 50rem;
  }
}
