<div class="enquiry-popup">
  <button class="close-button" (click)="onClose()">
    <span>&times;</span>
  </button>
  <h2 class="form-title">Enquiry</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">

    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">

    <label for="phone">Phone</label>
    <input type="tel" id="phone" formControlName="phone">

    <label for="country">Country</label>
    <input type="text" id="country" formControlName="country">

    <label for="gender">Gender</label>
    <input type="text" id="gender" formControlName="gender">    <div class="form-buttons">
      <button type="button" class="close-button-small" (click)="onClose()">Close</button>
      <button type="submit" class="save-button" (click)="onSubmit()" >Save</button>
    </div>
  </form>
</div>

