.section {
    background-color: #f8f9fa;
    padding: 80px 20px; /* Reduced padding for smaller screens */
    box-sizing: border-box; /* Include padding in total element width */
  }
  
  .section-title {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .image {
    width: 100%;
    height: 60vh; /* Maintain image aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0; /* Add margin for spacing */
  }
  
  /* Apply Montserrat font to the description text */
  .lead {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-bottom: 20px; /* Add margin for spacing between paragraphs */
    text-align: justify;
  }
  
  /* Media query for smaller screens (adjust as needed) */
  @media (max-width: 768px) {
    .section {
      padding: 60px 10px; /* Adjusted padding for smaller screens */
    }
  
    .section-title {
      font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }
    .image {
      width: 100%;
      height: auto; /* Maintain image aspect ratio */
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 20px 0; /* Add margin for spacing */
    }
  }
  