<ng-container [ngSwitch]="getSectionTemplate()">

  <!-- cardiology section -->
  <section class="section" *ngSwitchCase="'Cardiology'" id="Cardiology">
    <div class="container text-center">
      <h2 class="section-title mb-4">CARDIOLOGY</h2>

      <!-- Image -->
      <img src="../../assets/Images/Cardiology.jpg" alt="Cardiology Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Our Cardiology department is at the forefront of heart health. Utilizing cutting-edge technology and led by a team of seasoned cardiologists, we are dedicated to providing comprehensive and personalized treatment plans to ensure your heart remains in optimal condition. From routine preventive screenings to advanced cardiac interventions, our commitment is to cover every aspect of your cardiovascular well-being. Trust us to take care of your heart because we genuinely care about you.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        When it comes to your heart, we leave no stone unturned. Our team of experts is committed to delivering compassionate care and staying at the forefront of the latest medical advancements in Cardiology. We understand that you are not just a patient; you are family. Your heart is in safe hands with our skilled and caring specialists who are devoted to your overall cardiovascular health. Beyond medical expertise, we prioritize building a relationship with you, ensuring that you feel supported and confident in your heart care journey.
      </p>

      <!-- Paragraph 3 -->
      <p class="lead mb-4">
        Our comprehensive approach extends beyond treatment to embrace a culture of prevention and education. We are here to empower you with the knowledge and resources needed for a heart-healthy life. Whether it's managing risk factors, adopting a heart-healthy lifestyle, or providing support for heart conditions, our commitment to your well-being remains unwavering. Your heart health matters to us, and we are here to guide you every step of the way.
      </p>
    </div>
  </section>

  <!-- oncology section -->
  <section class="section" *ngSwitchCase="'Oncology'" id="Oncology">
    <div class="container text-center">
      <h2 class="section-title mb-4">ONCOLOGY</h2>

      <!-- Image -->
      <img src="../../assets/Images/Oncology.jpg" alt="Oncology Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Fighting cancer requires a strong team by your side, and we are that team. Our Oncology specialists are dedicated to providing comprehensive and personalized cancer care. From diagnosis to treatment, we use the latest advancements in Oncology to give you the best chance at beating cancer.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Oncology center, we believe in a holistic approach to cancer care. We understand that every patient's journey is unique, and we are here to support you every step of the way. Our team of compassionate caregivers and cutting-edge technology will ensure you receive the best care possible, both physically and emotionally.
      </p>

    </div>
  </section>

  <!-- Neurology section -->
  <section class="section" *ngSwitchCase="'Neurology'" id="Neurology">
    <div class="container text-center">
      <h2 class="section-title mb-4">NEUROLOGY</h2>

      <!-- Image -->
      <img src="../../assets/Images/Neurology.webp" alt="Neurology Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Unlock the mysteries of your brain with our Neurology experts. From headaches to seizures, our specialists are trained to diagnose and treat a wide range of neurological conditions. We combine compassion with cutting-edge technology to ensure you receive the best care possible.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Neurology center, we understand the complexity of the brain and nervous system. Our expert neurologists are dedicated to diagnosing and treating a wide range of neurological conditions. From headaches to movement disorders, we're here to listen to your concerns and provide compassionate care. Let us be your partners in promoting brain health and well-being.
      </p>

    </div>
  </section>

  <!-- Transplants section -->
  <section class="section" *ngSwitchCase="'Transplants'" id="Transplants">
    <div class="container text-center">
      <h2 class="section-title mb-4">TRANSPLANTS</h2>

      <!-- Image -->
      <img src="../../assets/Images/Nephrology.png" alt="Transplants Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Transplantation offers a new lease on life, and our Transplant center is at the forefront of life-saving procedures. Whether it's a kidney, liver, or heart transplant, our skilled surgeons perform these complex surgeries with utmost precision and care.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Transplant center, we understand the challenges faced by patients and their families. Our multidisciplinary team provides holistic support throughout the transplant journey, ensuring the best possible outcomes. Let us be the guiding light as you embark on a transformative and life-saving experience.
      </p>

    </div>
  </section>

  <!-- Plastic Surgery section -->
  <section class="section" *ngSwitchCase="'PlasticSurgery'" id="PlasticSurgery">
    <div class="container text-center">
      <h2 class="section-title mb-4">PLASTIC SURGERY</h2>

      <!-- Image -->
      <img src="../../assets/Images/Surgery.png" alt="Plastic Surgery Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Embrace the best version of yourself with our Plastic Surgery services. Whether you're seeking cosmetic enhancements or reconstructive procedures, our skilled surgeons will deliver natural-looking results that enhance your beauty and boost your confidence.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Plastic Surgery center, we believe in the power of self-expression and self-empowerment. Our team of compassionate surgeons will listen to your goals and work with you to achieve the look you desire. From facelifts to breast augmentations, we offer a range of procedures to help you look and feel your best.
      </p>

    </div>
  </section>

  <!-- RoboticSurgery section -->
  <section class="section" *ngSwitchCase="'RoboticSurgery'" id="RoboticSurgery">
    <div class="container text-center">
      <h2 class="section-title mb-4">ROBOTIC SURGERY</h2>

      <!-- Image -->
      <img src="../../assets/Images/RoboticSurgery.jpg" alt="RoboticSurgery Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Welcome to the future of surgery with our Robotic Surgery advancements. Our skilled robotic surgeons use state-of-the-art technology to perform complex procedures with precision and minimal invasiveness. Experience faster recovery times and reduced scarring with our robotic-assisted surgeries.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Robotic Surgery center, we are pioneers in medical innovation. Our team of robotic surgeons undergo extensive training to master this advanced technology, ensuring you receive the best possible care. Trust in our expertise, and let us guide you towards a smoother and more efficient surgical journey.
      </p>

    </div>
  </section>

  <!-- Geriatric section -->
  <section class="section" *ngSwitchCase="'Geriatric'" id="Geriatric">
    <div class="container text-center">
      <h2 class="section-title mb-4">GERIATRIC</h2>

      <!-- Image -->
      <img src="../../assets/Images/Geriatric.jpg" alt="Geriatric Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Aging gracefully is possible with our Geriatric care services. Our team of geriatricians is dedicated to supporting seniors' health and well-being, offering personalized care plans to address their unique needs and challenges.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Geriatric center, we believe that age should not limit one's quality of life. Our comprehensive geriatric assessments and management strategies aim to improve seniors' overall health and independence. We understand the value of experience and wisdom, and we are committed to providing the care and respect our seniors deserve.
      </p>

    </div>
  </section>

  <!-- Gastroenterology section -->
  <section class="section" *ngSwitchCase="'Gastroenterology'" id="Gastroenterology">
    <div class="container text-center">
      <h2 class="section-title mb-4">GASTROENTEROLOGY</h2>
  
      <!-- Image -->
      <img src="../../assets/Images/Gastronology.jpg" alt="Gastroenterology Image" class="img-fluid image mb-4">
  
      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Indulge in your favorite flavors without worry, thanks to our Gastroenterology experts. From digestive disorders to liver diseases, our gastroenterologists provide comprehensive care to keep your digestive system in balance. Trust us to get to the root of the issue and provide effective solutions.
      </p>
  
      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Gastroenterology center, we understand the importance of gut health in overall well-being. Our experienced gastroenterologists are equipped to handle a wide range of gastrointestinal issues, ensuring you get the relief and support you need. Say hello to a happier tummy and a healthier you with our compassionate care.
      </p>
  
    </div>
  </section>
  
  <!-- ENT section -->
  <section class="section" *ngSwitchCase="'ENT'" id="ENT">
    <div class="container text-center">
      <h2 class="section-title mb-4">ENT</h2>

      <!-- Image -->
      <img src="../../assets/Images/ENT.jpg" alt="ENT Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Breathe easy with our Ear, Nose, and Throat (ENT) experts. From sinus issues to hearing problems, our ENT specialists are here to diagnose and treat a wide range of conditions. Enjoy clear communication and improved hearing with our cutting-edge treatments and solutions.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our ENT center, we believe in enhancing your quality of life through better hearing and improved respiratory health. Our dedicated team of specialists uses the latest technology to diagnose and address your ENT concerns effectively. Say goodbye to discomfort and hello to a world of clearer communication and vibrant health.
      </p>

    </div>
  </section>

  <!-- Pediatric section -->
  <section class="section" *ngSwitchCase="'Pediatric'" id="Pediatric">
    <div class="container text-center">
      <h2 class="section-title mb-4">PEDIATRIC</h2>

      <!-- Image -->
      <img src="../../assets/Images/Pediatric.jpg" alt="Pediatric Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Our little patients deserve the best care, and that's what we provide at our Pediatric center. From newborns to teenagers, we specialize in the unique medical needs of children. Our team of pediatricians and pediatric specialists are here to support your child's growth and development.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Pediatric center, we know that children are not just small adults. That's why we take a gentle and playful approach to healthcare, ensuring your child feels safe and comfortable during their visits. Our kid-friendly environment and caring staff will make each visit a positive and memorable experience for your little one.
      </p>

    </div>
  </section>

  <!-- Dental section -->
  <section class="section" *ngSwitchCase="'Dental'" id="Dental">
    <div class="container text-center">
      <h2 class="section-title mb-4">DENTAL</h2>

      <!-- Image -->
      <img src="../../assets/Images/Dental.jpg" alt="Dental Image" class="img-fluid image mb-4">

      <!-- Paragraph 1 -->
      <p class="lead mb-4">
        Smile with confidence and maintain oral health with our Dental services. From routine check-ups to advanced dental procedures, our skilled dentists are here to ensure your teeth and gums stay in optimal condition.
      </p>

      <!-- Paragraph 2 -->
      <p class="lead mb-4">
        At our Dental center, we believe that a healthy smile is a gateway to overall well-being. Our gentle and caring approach to dental care ensures that you feel comfortable and relaxed during your visit. Experience the joy of a healthy and radiant smile with our comprehensive dental services.
      </p>

    </div>
  </section>

  <!-- default -->
  <section class="section" *ngSwitchDefault id="default">
    <div class="container text-center">
      <h2 class="section-title mb-4">NOT FOUND</h2>
    </div>
  </section>
</ng-container>
