<!-- For desktop -->
<mat-toolbar class="desktop-toolbar" [ngClass]="{'sticky-toolbar': 'true'}">
  <img class="logo-placement" src="../../assets/icons/heal_away_logo .png" (click)="onLogoClick()">
  <div>
    <a class="home-logo" (click)="onLogoClick()">Heal Away</a>
  </div>
  <div class="spacer"></div>
  <a mat-button (click)="scrollToSpecialities()">Specialities</a>
  <a mat-button (click)="scrollToAbout()">Why Choose HealAway?</a>
  <a mat-button (click)="scrollToServices()">Services</a>
  <a mat-button (click)="scrollToContact()">Contact</a>
</mat-toolbar>

<!-- For mobile -->
<mat-toolbar class="mobile-toolbar" [ngClass]="{'sticky-toolbar': 'true'}">
  <img class="logo-placement" src="../../assets/icons/heal_away_logo .png" (click)="onLogoClick()">
  <div>
    <a class="home-logo" (click)="onLogoClick()">Heal Away</a>
  </div>
  <div class="spacer"></div>
    <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="container-local">
  <mat-drawer position="end" mode="over" #sidenav class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/specialities" (click)="handleSpecialitySideBar()">Specialities</a>
      <a mat-list-item routerLink="/why-choose-healaway" (click)="handleAboutSideBar()">Why Choose HealAway?</a>
      <a mat-list-item routerLink="/services" (click)="handleServiceSideBar()">Services</a>
      <a mat-list-item routerLink="/contact" (click)="handleContactSideBar()">Contact</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content">
    <ng-container #scrollContainer class="content-container">

      <section class="landing-image">
        <img src="../../assets/Images/landing.jpg" alt="Landing Image Description">
      </section>

      <!-- Mission and Vision -->

      <section class="mission-vision-section">
        <div class="mission-vision-content">
          <div class="mission-vision-text">
            <h2>Mission & Vision</h2>
            <p>
              <span class="highlight">Our mission</span> is Cure Every Life.
              <br><br>
              <span class="highlight">Our vision</span> is to provide quality care to everyone.
            </p>
          </div>
        </div>
      </section>

      <!-- Why HealAway -->
      <section id="aboutsection" class="about-healaway">
        <h1 class="text-center  section-header">Why HealAway?</h1>
        <p class="intro-text">{{ introText }}</p>
        <div class="carousel-box">
          <div class="carousel">
            <h1>{{ items[currentIndex].header }}</h1>
            <p>{{ items[currentIndex].body }}</p>
          </div>
          <div class="carousel-dots">
            <span *ngFor="let item of items; let i = index" (click)="goToSlide(i)" class="carousel-dot" [class.active]="i === currentIndex"></span>
          </div>
        </div>
        <p class="closing-text">{{ closingText }}</p>
      </section>
      

      <!-- Specialities -->
      <div id="specialitiesSection" class="specialities-section">
        <h1 class="text-center b section-header">Specialities</h1>
        <div class="specialties-grid">
          <div *ngFor="let specialty of specialties">
            <div class="specialty-item">
              <img src="{{ specialty.icon }}" alt="{{ specialty.label }}" (click)="scrollToSection(specialty.sectionId)">
              <p>{{ specialty.label }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Service Section -->
      <section id="serviceSection">
        <h1 class="text-center b section-header">Services</h1>
        <div class="service-container">
          <div class="service-item">
            <img src="../../assets/icons/cc-visa.svg" alt="Visa Processing">
            <h3>Visa Processing</h3>
          </div>
          <div class="service-item">
            <img src="../../assets/icons/rocket-solid.svg" alt="International and Local Transportation">
            <h3>International and Local Transportation</h3>
          </div>
          <div class="service-item">
            <img src="../../assets/icons/hotel-solid.svg" alt="Accommodation">
            <h3>Accommodation</h3>
          </div>
          <div class="service-item">
            <img src="../../assets/icons/square-h-solid.svg" alt="Hospital and Doctor Consultation">
            <h3>Hospital and Doctor Consultation</h3>
          </div>
          <!-- Add more service items as needed -->
        </div>
      </section>



      <!-- Footer Section -->
      <section id="contactSection" class="footer-section">
        <h2 class="text-center">Contact Us</h2>
        <div class="footer-content">
          <a href="https://api.whatsapp.com/send?phone=9148551931" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="mailto:contact@example.com"><i class="far fa-envelope"></i></a>
          <a href="tel:9148551931"><i class="fas fa-phone-alt"></i></a>
          <!-- Add more icons as needed -->
        </div>
      </section>
    </ng-container>
    <!-- Image Container -->

<!-- Floating button for scrolling to top -->
<!-- <button class="scroll-to-top-button" (click)="scrollToTop()"><img src="../../../assets/icons/arrow-up-solid.svg"></button> -->
<button class="scroll-to-top-button" (click)="onEnquiryFormOpen()" [ngClass]="{'dancing-button': !isEnquiryFormOpen}">
  <img src="../../assets/icons/info-circle-solid.svg">
</button>
<!-- <button class="enquiry-form-button" (click)="onEnquiryFormOpen()" [ngClass]="{'dancing-button': !isEnquiryFormOpen}">
  <img src="../../assets/icons/info-circle-solid.svg">
</button> -->
<!-- <div class="enquiry-label" (click)="onEnquiryFormOpen()"><span>Enquiry</span></div> -->
<!-- Enquiry Form Dialog -->


</mat-drawer-content>
</mat-drawer-container>

